body {
    margin: 0;
}

header {
    height: 100vh;
    background-image: url(../images/header_achtergrond.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.notifi {
    text-transform: uppercase;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: futura-pt,Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 8px 28px;
}

.navigation_bar {
    box-sizing: border-box;
    display: flex;
    height: 60px;
    overflow: hidden;
    justify-content: space-between;
    padding: 20px 25px;
}

.navigation_bar .hamburger svg,
.navigation_bar .logo,
.navigation_bar .options svg {
    height: 100%;
    color: white;
    fill: white;
}

.navigation_bar .options a:first-child {
    margin-right: 30px;
}